.page {
    min-height: 100vh;
    width: min(100%);
    margin: 0 auto;
}
:where(.css-dev-only-do-not-override-1hsjdkk).ant-radio-group{
    font-family: unset !important
}
.--is-selected{
    @apply !bg-primary
}